$color-item: black;

.user {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__item {
		color: $color-item;
		font-size: 2.5rem;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 3rem;
		}
	}

}