$logo-text-color: white;
$logo-bg: black;

.logo {
	display: block;
	font-size: 4rem;
	background-color: $logo-bg;
	padding: 1rem;


	&:link,
	&:visited {
		text-decoration: none;
		color: $logo-text-color
	}
}