$section-item-color: white;

.sections__item {
	width: 70%;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
	color: $section-item-color;
	cursor: pointer;
	margin: 0 auto;


	&:link,
	&:visited {
		text-decoration: none;
	}

	&:hover {
		transform: scale(1.01);
		transition: transform 0.5s ease;
	}


	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}