*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
	font-size: 1.6rem;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}


.heading-primary {
	font-size: 5rem;
	margin-bottom: 7rem;
	text-transform: uppercase;
}

section {
	padding-top: 4rem;
}