.sign-in-bg {
	height: 70rem;
	width: 50%;
	background: url('https://content.thecollective.in/uploads/2018/07/12142322/2e84670ccb8dda7fabad62b7af40886c-gender-neutral-fashion-fashion.jpg') no-repeat center top /cover;
}

.registration {
	padding-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}